/* Typography */

body {
	font-size: 1rem;
	font-weight: normal;
	font-weight: initial;
	line-height: 1.5;
	font-family: $type1;
	-webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	font-weight: $font-weight-medium;
}

p {
	font-size: $default-font-size;
}

h1,
.h1 {
	font-size: 2.19rem;
}

h2,
.h2 {
	font-size: 1.875rem;
}

h3,
.h3 {
	font-size: 1.5rem;
}

h4,
.h4 {
	font-size: 1.125rem;
}

h5,
.h5 {
	font-size: 1rem;
}

h6,
.h6 {
	font-size: 0.9375rem;
}

p {
	font-size: 0.875rem;
}

span {
	font-size: 0.875rem;
}

* {
	font-size: 0.875rem;
}

.display-1 {
	font-size: 3.75rem;

	@media (max-width: 991px) {
		font-size: 3rem;
	}
}

.display-2 {
	font-size: 3.125rem;

	@media (max-width: 991px) {
		font-size: 2.5rem;
	}
}

.display-3 {
	font-size: 2.5rem;

	@media (max-width: 991px) {
		font-size: 2rem;
	}
}

.display-4 {
	font-size: 1.875rem;

	@media (max-width: 991px) {
		font-size: 1.5rem;
	}
}

.display-5 {
	font-size: 1.25rem;

	@media (max-width: 991px) {
		font-size: 1rem;
	}
}

.blockquote {
	padding: 1.25rem;
	border: 1px solid $border-color;
}

address {
	p {
		margin-bottom: 0;
	}
}

//blockqoute color variations
@each $color,
$value in $theme-colors {
	.blockquote-#{$color} {
		@include blockquote($value);
	}
}

.error-page {
	h1 {
		font-size: 12rem;

		@media (max-width: 991px) {
			font-size: 8rem;
		}
	}
}

.icon-lg {
	font-size: 3.75rem;
}

.icon-md {
	font-size: 1.875rem;
}

.icon-sm {
	font-size: 1rem;
}

.bg-light {
	background-color: #F5F5F5 !important;
}

.text-gray {
	color: rgba(0, 0, 0, 0.36) !important;
}

.ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.text-capitalize {
	text-transform: capitalize;
}

.grid-hr {
	position: relative;
	&:after {
		position: absolute;
		bottom: -0.7rem;
		left: 0;
		width: 100%;
		height: 1px;
		background-color: rgba(0, 0, 0, 0.36);
		content: "";
	}
}

.border-bottom {
	border-bottom: 1px solid rgba(0, 0, 0, 0.36) !important;
}

th, td {
	border-color: rgba(0, 0, 0, 0.36) !important;
	padding-top: 2rem !important;
	padding-bottom: 2rem !important;
}

textarea.custom-textarea {
	height: auto;
}


.custom-input, .custom-textarea {
	display: inline-block;
	width: 100%;
	height: $custom-select-height;
	padding: $custom-select-padding-y ($custom-select-padding-x + $custom-select-indicator-padding) $custom-select-padding-y $custom-select-padding-x;
	font-family: $custom-select-font-family;
	@include font-size($custom-select-font-size);
	font-weight: $custom-select-font-weight;
	line-height: $custom-select-line-height;
	color: $custom-select-color;
	vertical-align: middle;
	background-color: $custom-select-bg;
	border: $custom-select-border-width solid $custom-select-border-color;
	@include border-radius($custom-select-border-radius, 0);
	@include box-shadow($custom-select-box-shadow);
	appearance: none;

  
	&:focus {
	  border-color: $custom-select-focus-border-color;
	  outline: 0;
	  @if $enable-shadows {
		box-shadow: $custom-select-box-shadow, $custom-select-focus-box-shadow;
	  } @else {
		box-shadow: $custom-select-focus-box-shadow;
	  }
  
	  &::-ms-value {
		// For visual consistency with other platforms/browsers,
		// suppress the default white text on blue background highlight given to
		// the selected option text when the (still closed) <select> receives focus
		// in IE and (under certain conditions) Edge.
		// See https://github.com/twbs/bootstrap/issues/19398.
		color: $input-color;
		background-color: $input-bg;
	  }
	}
  
	&[multiple],
	&[size]:not([size="1"]) {
	  height: auto;
	  padding-right: $custom-select-padding-x;
	  background-image: none;
	}
  
	&:disabled {
	  color: $custom-select-disabled-color;
	  background-color: $custom-select-disabled-bg;
	}
  
	// Hides the default caret in IE11
	&::-ms-expand {
	  display: none;
	}
}

.file {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	border: 1px dashed rgba(0, 0, 0, 0.36);
	padding: 1rem 2rem;
	cursor: pointer;
	gap: 1em;
}

.process {
	position: relative;
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	min-width: 15rem;
	overflow: hidden;
	height: 7px;
	.process-bar {
		position: absolute;
		background-color: $primary;
		top: 0;
		left: 0;
		height: 100%;
		border-radius: 10px;
	}
}

.profile-bg {
	position: relative;
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center center;
	padding-top: 21%;
	border-radius: 20px;
	overflow: hidden;
	@media (max-width: 767px) {
		padding-top: 150px;
		background-size: cover;
	}
}

.avatar-img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

.profile-view {
	margin-top: -30%;
	.card-body {
		flex-direction: column;
		.profile-avatar {
			width: 50%;
			overflow: hidden;
		}
		.profile-btn-group {
			>button {
				width: 100%;
			}
		}
	}

	@media (max-width: 1200px) {
		margin-top: 0;
		.card-body {
			flex-direction: row;
			.profile-avatar {
				width: 100px;
				height: 100px;
				margin-right: 2rem;
			}
			.profile-btn-group {
				>button {
					width: auto;
					padding-left: 10px;
					padding-right: 10px;
					margin-right: 10px;
				}
			}
		}
	}

	@media (max-width: 767px) {
		margin-top: 0;
		margin-left: -3rem;
		margin-right: -3rem;
		.card-body {
			flex-direction: column;
		}
	}
}

.shadow {
	box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
}

.tab {
	.tabs {
		list-style: none;
		display: flex;
		flex-wrap: wrap;
		gap: 2rem;
		.tab-item {
			button, a {
				border: none;
				outline: none;
				padding: 0;
				background: transparent;
				color:rgba(0, 0, 0, 0.36);
			}
			&.active {
				padding-bottom: 0rem;
				margin-bottom: 2rem;
				border-bottom: 2px solid $primary;
				button, a {
					color: $primary;
				}
			}
		}
	}
}

.panel {
	padding: 1.75rem 1.5625rem;
	.panel-header {
		border-bottom: 1px solid $light-gray;
		margin-bottom: 2rem;
		.panel-title {
			position: relative;
			display: inline-block;
			color: $primary;
			padding: 1em 0.5em;
			&:after {
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 1px;
				background-color: $primary;
				content: "";
			}
		}
	}
}

.flex-1 {
	flex: 1;
	padding-right: 0.75rem;
	padding-left: 0.75rem;
}
.flex-2 {
	flex: 2;
	padding-right: 0.75rem;
	padding-left: 0.75rem;
}
.flex-3 {
	flex: 3;
	padding-right: 0.75rem;
	padding-left: 0.75rem;
}
.flex-4 {
	flex: 4;
	padding-right: 0.75rem;
	padding-left: 0.75rem;
}
.flex-5 {
	flex: 5;
	padding-right: 0.75rem;
	padding-left: 0.75rem;
}

.gap {
	gap: 0.5rem;
}
.gap-1 {
	gap: 1rem;
}
.gap-2 {
	gap: 2rem;
}
.gap-3 {
	gap: 3rem;
}

.gy {
	row-gap: 0.5rem;
}
.gy-1 {
	row-gap: 1rem;
}
.gy-2 {
	row-gap: 2rem;
}
.gy-3 {
	row-gap: 3rem;
}

.gx {
	column-gap: 0.5rem;
}
.gx-1 {
	column-gap: 1rem;
}
.gx-2 {
	column-gap: 2rem;
}
.gx-3 {
	column-gap: 3rem;
}

.capitalize {
	text-transform: capitalize;
}
.uppercase {
	text-transform: uppercase;
}